services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWD}
      - MYSQL_LOG_CONSOLE=true
      # To upgrade mariadb from an older version, uncomment the line below
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - ${SEAFILE_DB_DATA:-./data-db}:/var/lib/mysql
    networks:
      - seafile-net
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/healthcheck.sh",
          "--connect",
          "--mariadbupgrade",
          "--innodb_initialized",
        ]
      interval: 20s
      start_period: 30s
      timeout: 5s
      retries: 10
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis
    container_name: seafile-redis
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$$REDIS_PASSWORD"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
    networks:
      - seafile-net

  seafile:
    image: ${SEAFILE_IMAGE:-seafileltd/seafile-mc:13.0-latest}
    container_name: seafile
    restart: unless-stopped
    volumes:
      - ${SEAFILE_SHARED_DATA:-./data}:/shared
    environment:
      - SEAFILE_MYSQL_DB_HOST=${DB_HOST:-db}
      - SEAFILE_MYSQL_DB_PORT=${DB_PORT:-3306}
      - SEAFILE_MYSQL_DB_USER=${DB_USER:-seafile}
      - SEAFILE_MYSQL_DB_PASSWORD=${DB_PASSWORD:?Variable is not set or empty}
      - INIT_SEAFILE_MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWD:-}
      - SEAFILE_MYSQL_DB_CCNET_DB_NAME=${SEAFILE_MYSQL_DB_CCNET_DB_NAME:-ccnet_db}
      - SEAFILE_MYSQL_DB_SEAFILE_DB_NAME=${SEAFILE_MYSQL_DB_SEAFILE_DB_NAME:-seafile_db}
      - SEAFILE_MYSQL_DB_SEAHUB_DB_NAME=${SEAFILE_MYSQL_DB_SEAHUB_DB_NAME:-seahub_db}
      - TIME_ZONE=${TIME_ZONE:-Etc/UTC}
      - INIT_SEAFILE_ADMIN_EMAIL=${INIT_SEAFILE_ADMIN_EMAIL:-me@example.com}
      - INIT_SEAFILE_ADMIN_PASSWORD=${INIT_SEAFILE_ADMIN_PASSWORD:-asecret}
      - SEAFILE_SERVER_HOSTNAME=${SEAFILE_SERVER_HOSTNAME:?Variable is not set or empty}
      - SEAFILE_SERVER_PROTOCOL=${SEAFILE_SERVER_PROTOCOL:-http}
      - SITE_ROOT=${SITE_ROOT:-/}
      - NON_ROOT=${NON_ROOT:-false}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
      - SEAFILE_LOG_TO_STDOUT=${SEAFILE_LOG_TO_STDOUT:-false}
      - ENABLE_SEADOC=${ENABLE_SEADOC:-true}
      - SEADOC_SERVER_URL=${SEAFILE_SERVER_PROTOCOL:-http}://${SEAFILE_SERVER_HOSTNAME:?Variable is not set or empty}/sdoc-server
      - CACHE_PROVIDER=${CACHE_PROVIDER:-redis}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
      - MEMCACHED_HOST=${MEMCACHED_HOST:-memcached}
      - MEMCACHED_PORT=${MEMCACHED_PORT:-11211}
      - ENABLE_NOTIFICATION_SERVER=${ENABLE_NOTIFICATION_SERVER:-true}
      - INNER_NOTIFICATION_SERVER_URL=${INNER_NOTIFICATION_SERVER_URL:-http://notification-server:8083}
      - NOTIFICATION_SERVER_URL=${NOTIFICATION_SERVER_URL:-${SEAFILE_SERVER_PROTOCOL:-http}://${SEAFILE_SERVER_HOSTNAME:?Variable is not set or empty}/notification}
      - ENABLE_SEAFILE_AI=${ENABLE_SEAFILE_AI:-false}
      - SEAFILE_AI_SERVER_URL=${SEAFILE_AI_SERVER_URL:-http://seafile-ai:8888}
      - SEAFILE_AI_SECRET_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
      - MD_FILE_COUNT_LIMIT=${MD_FILE_COUNT_LIMIT:-100000}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - seafile-net
      - proxy-net
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy-net
      # HTTP Router Seafile/Seahub
      - traefik.http.routers.seafile.rule=(Host(`seafile.${DOMAINNAME}`))
      - traefik.http.routers.seafile.entrypoints=websecure
      - traefik.http.routers.seafile.tls=true
      - traefik.http.routers.seafile.tls.certresolver=letsencryptresolver
      - traefik.http.routers.seafile.service=seafile
      - traefik.http.routers.seafile.middlewares=sec-headers
      - traefik.http.services.seafile.loadbalancer.server.port=8000
      # HTTP Router Seafdav
      - traefik.http.routers.seafile-dav.rule=Host(`seafile.${DOMAINNAME}`) && PathPrefix(`/seafdav`)
      - traefik.http.routers.seafile-dav.entrypoints=websecure
      - traefik.http.routers.seafile-dav.tls=true
      - traefik.http.routers.seafile-dav.tls.certresolver=letsencryptresolver
      - traefik.http.routers.seafile-dav.service=seafile-dav
      - traefik.http.services.seafile-dav.loadbalancer.server.port=8080
      # HTTP Router Seafhttp
      - traefik.http.routers.seafile-http.rule=Host(`seafile.${DOMAINNAME}`) && PathPrefix(`/seafhttp`)
      - traefik.http.routers.seafile-http.entrypoints=websecure
      - traefik.http.routers.seafile-http.tls=true
      - traefik.http.routers.seafile-http.tls.certresolver=letsencryptresolver
      - traefik.http.routers.seafile-http.middlewares=seafile-strip
      - traefik.http.routers.seafile-http.service=seafile-http
      - traefik.http.services.seafile-http.loadbalancer.server.port=8082
      # Middlewares 
      - traefik.http.middlewares.seafile-strip.stripprefix.prefixes=/seafhttp
      - traefik.http.middlewares.sec-headers.headers.sslredirect=true
      - traefik.http.middlewares.sec-headers.headers.browserXssFilter=true
      - traefik.http.middlewares.sec-headers.headers.contentTypeNosniff=true
      - traefik.http.middlewares.sec-headers.headers.forceSTSHeader=true
      - traefik.http.middlewares.sec-headers.headers.stsIncludeSubdomains=true
      - traefik.http.middlewares.sec-headers.headers.stsPreload=true
      - traefik.http.middlewares.sec-headers.headers.referrerPolicy=same-origin

  notification-server:
    image: ${NOTIFICATION_SERVER_IMAGE:-seafileltd/notification-server:13.0-latest}
    container_name: notification-server
    restart: always
    volumes:
      - ${SEAFILE_VOLUME:-/opt/seafile-data}/seafile/logs:/shared/seafile/logs
    # ports:
    #   - "8083:8083"
    environment:
      - SEAFILE_MYSQL_DB_HOST=${DB_HOST:-db}
      - SEAFILE_MYSQL_DB_PORT=${DB_PORT:-3306}
      - SEAFILE_MYSQL_DB_USER=${DB_USER:-seafile}
      - SEAFILE_MYSQL_DB_PASSWORD=${DB_PASSWORD:?Variable is not set or empty}
      - SEAFILE_MYSQL_DB_CCNET_DB_NAME=${SEAFILE_MYSQL_DB_CCNET_DB_NAME:-ccnet_db}
      - SEAFILE_MYSQL_DB_SEAFILE_DB_NAME=${SEAFILE_MYSQL_DB_SEAFILE_DB_NAME:-seafile_db}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
      - SEAFILE_LOG_TO_STDOUT=${SEAFILE_LOG_TO_STDOUT:-false}
      - NOTIFICATION_SERVER_LOG_LEVEL=${NOTIFICATION_SERVER_LOG_LEVEL:-info}
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy-net
      # HTTP Router Notification Server
      - traefik.http.routers.seafile-ns.rule=Host(`seafile.${DOMAINNAME}`) && PathPrefix(`/notification`)
      - traefik.http.routers.seafile-ns.entrypoints=websecure
      - traefik.http.routers.seafile-ns.tls=true
      - traefik.http.routers.seafile-ns.tls.certresolver=letsencryptresolver
      - traefik.http.routers.seafile-ns.service=seafile-ns
      - traefik.http.routers.seafile-ns.middlewares=sec-headers,ns-headers
      - traefik.http.services.seafile-ns.loadbalancer.server.port=8083
      # Middlewares
      - traefik.http.middlewares.ns-headers.headers.customrequestheaders.X-Forwarded-Host=seafile.${DOMAINNAME}
      - traefik.http.middlewares.ns-headers.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.ns-headers.headers.customrequestheaders.Connection=Upgrade
      - traefik.http.middlewares.ns-headers.headers.customrequestheaders.Upgrade=websocket
    depends_on:
      db:
        condition: service_healthy
    networks:
      - seafile-net

  # Remove this section if you do not want to use only office integration
  onlyoffice-documentserver:
    image: onlyoffice/documentserver:latest
    restart: unless-stopped
    container_name: seafile-oods
    #volumes:
      # Optional: see https://manual.seafile.com/12.0/extension/only_office/
      #- ${ONLYOFFICE_CONFIG:-./data/onlyoffice/local.conf}:/etc/onlyoffice/documentserver/local.json
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${ONLYOFFICE_JWT_SECRET:-Supers3cr3t}
    networks:
      - seafile-net
      - proxy-net
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy-net
      # HTTP Router OnlyOffice
      - traefik.http.routers.seafile-oods.rule=Host(`oods.seafile.${DOMAINNAME}`)
      - traefik.http.routers.seafile-oods.entrypoints=websecure
      - traefik.http.routers.seafile-oods.tls=true
      - traefik.http.routers.seafile-oods.tls.certresolver=letsencryptresolver
      - traefik.http.routers.seafile-oods.service=seafile-oods
      - traefik.http.routers.seafile-oods.middlewares=sec-headers,oods-headers
      - traefik.http.services.seafile-oods.loadbalancer.server.port=80
      # Middlewares
      - traefik.http.middlewares.oods-headers.headers.customrequestheaders.X-Forwarded-Host=oods.seafile.${DOMAINNAME}
      - traefik.http.middlewares.oods-headers.headers.customrequestheaders.X-Forwarded-Proto=https

  reverse-proxy:
    image: traefik:v3.5
    restart: unless-stopped
    command:
      - '--log.level=DEBUG'
      - '--api=true'
      - '--api.dashboard=true'
      - '--accesslog=true'
      - '--accesslog.filepath=/logs/access.log'
      - '--accesslog.bufferingsize=100'
      - '--providers.docker.endpoint=unix:///var/run/docker.sock'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'
      - '--entryPoints.websecure.transport.respondingTimeouts.readTimeout=36000'
      - '--entryPoints.websecure.transport.respondingTimeouts.idleTimeout=36000'
      - '--certificatesresolvers.letsencryptresolver.acme.httpchallenge=true'
      - '--certificatesresolvers.letsencryptresolver.acme.httpchallenge.entrypoint=web'
      - '--certificatesresolvers.letsencryptresolver.acme.email=seafile.noreply@${DOMAINNAME}'
      - '--certificatesresolvers.letsencryptresolver.acme.storage=/letsencrypt/acme.json'
      # - '--certificatesresolvers.letsencryptresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory'  # just for testing
    ports:
      - 80:80
      - 443:443
    volumes:
      - acme-certs:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${TRAEFIK_LOG_DIR:-./traefik-logs}:/logs
    networks:
      - seafile-net
      - proxy-net
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy-net
      # HTTP Catchall for redirecting HTTP -> HTTPS
      - traefik.http.routers.dashboard-catchall.rule=Host(`seafile.${DOMAINNAME}`) && PathPrefix(`/`)
      - traefik.http.routers.dashboard-catchall.entrypoints=web
      - traefik.http.routers.dashboard-catchall.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      # Traefik dashboard
      - traefik.http.routers.dashboard.rule=Host(`traefik.seafile.${DOMAINNAME}`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      - traefik.http.routers.dashboard.entrypoints=websecure
      - traefik.http.routers.dashboard.tls.certresolver=letsencryptresolver
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.middlewares=dashboard-auth
      - traefik.http.middlewares.dashboard-auth.basicauth.users=admin:$$2y$$05$$lFk8xsNVKvkyn.UzSmgsHePS9ZNkANQ.C9ZfcWC9BsLa6jKhwTUQG # defaults to admin:traefik, regenerate using apache-utils: echo $(htpasswd -nB admin) | sed -e s/\\$/\\$\\$/g

networks:
  seafile-net:
    name: seafile-net
    ipam:
      driver: default
      config:
        - subnet: 172.31.0.0/16
  proxy-net:
    name: proxy-net
    ipam:
      driver: default
      config:
        - subnet: 172.32.0.0/16

volumes:
  acme-certs:

