# -*- mode: conf -*-

# Required by seafile/seahub
Pillow
pylibmc
captcha
Jinja2
python-memcached
urllib3
sqlalchemy
psd-tools
django-pylibmc
django-simple-captcha
requests
requests_oauthlib

# Utility libraries
click
termcolor
prettytable
colorlog
